# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.

# === General ===
NODE_ENV=

# === Database ( PostgreSql ) ===
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# === Open Cage ( Geolocation API ) ===
OPEN_CAGE_API_URL=
OPEN_CAGE_API_KEY=

# === Open Meteo ( Weather API ) ===
OPEN_METEO_API_URL=

# === GNews ( News API ) ===
GNEWS_API_URL=
GNEWS_API_KEY=

# === Exchange Rate Host ( Exchange Rate API ) ===
EXCHANGE_API_URL=
EXCHANGE_API_KEY=

# === Redis ===
REDIS_URL=
